@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.background-gradient {
  background: radial-gradient(
    circle at top center,
    hsla(258, 22%, 18%) 2%,
    hsla(257, 21%, 13%) 15%,
    hsla(222, 0%, 0%, 0) 55%
  );
}

.experience-card-gradient {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .customButton {
    @apply px-3 md:px-10 md:mx-3 py-2 border border-transparent rounded-full uppercase text-lg lg:text-3xl tracking-widest text-gray-500 transition-all hover:border hover:border-btnColor2/40 hover:text-btnColor2/40 hover:bg-background;
  }

  .customButton1 {
    @apply px-6 py-3 md:px-10 text-white rounded-full uppercase sm:w-fit bg-gradient-to-br to-pink-500 from-[#5060c0] via-[#8a00e7] hover:text-violet-400 transition-all;
  }

  .customButton2 {
    @apply px-1 py-1 bg-transparent text-white rounded-full uppercase sm:w-fit bg-gradient-to-br from-[#00e78a] via-[#5060c0] to-[#8a00e7];
  }
}
